@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');

:root {
    --bs-red: #e6563b;
    --bs-orange: #eb9d3a;
    --bs-green: #7cb06c;
    --bs-aqua: #00aba9;
    --bs-light-gray: #f0f0f0;
    --bs-gray: #e6e6e6;
    --bs-badge-small: 85px;
    --bs-badge-medium: 125px;
    --bs-card-width-sm: 370px;
    --bs-card-height-sm: 250px;
    --bs-card-width-md: 300px;
    --bs-card-height-md: 202px;
}

* {
    box-sizing: border-box;
}

html, body {
    background-color: var(--bs-gray);
    min-width: 460px;
}

.anton-font, h1, h2, h3 {
    font-family: 'Anton', sans-serif;
}

h1 {
    font-size: xxx-large;
}

h2 {
    font-size: xx-large;
}

.abel-font {
    font-family: 'Abel', sans-serif;
}

#wh-logo {
    width: 30px;
    height: 30px;
}

.border-round {
    min-width: var(--bs-badge-medium);
    max-width: var(--bs-badge-medium);
    height: var(--bs-badge-medium);
    border-radius: 50%;
    border: white 10px solid;
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-weight: bold;
}

.bg-fill:nth-of-type(1) {
    background-color: var(--bs-red);
}

.bg-fill:nth-of-type(2) {
    background-color: var(--bs-orange);
}

.bg-fill:nth-of-type(3) {
    background-color: var(--bs-green);
}

.bg-fill:nth-of-type(4) {
    background-color: var(--bs-aqua);
}

.img-border-gray {
    border-color: lightgray !important;
}

.card-img {
    background-size: contain;
    align-items: center;
    justify-content: center;
    width: var(--bs-card-width-sm);
    height: var(--bs-card-height-sm);
}

.mw-pill-badge-container {
    max-width: 695px;
}

.card-expand {
    width: var(--bs-card-width-sm);
    padding: 0;
    margin: .5rem;
}


#main-aside-content {
    width: 40%;
}

.last-thumb {
    width: 55px;
    height: 55px;
    display: inline-block;
}

.tweet {
    font-size: small;
}

@media screen and (max-width: 768px) {
    .mw-pill-badge-container {
        max-width: 275px;
    }

    .border-round {
        min-width: var(--bs-badge-small);
        max-width: var(--bs-badge-small);
        height: var(--bs-badge-small);
        border-width: 7px;
        font-size: small;
        font-weight: normal;
    }
}

@media screen and (min-width: 768px) {
    .card-expand {
        width: 45%;
    }

    .card-img {
        width: 100%;
        height: auto;
    }

    #card-main-content {
        max-width: 935px;
    }
}

