@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');

:root {
    --bs-red: #e6563b;
    --bs-orange: #eb9d3a;
    --bs-green: #7cb06c;
    --bs-aqua: #00aba9;
    --bs-light-gray: #f0f0f0;
    --bs-gray: #e6e6e6;
    --bs-badge-small: 85px;
    --bs-badge-medium: 125px;
    --bs-card-width-sm: 370px;
    --bs-card-height-sm: 250px;
    --bs-card-width-md: 300px;
    --bs-card-height-md: 202px;
}

* {
    box-sizing: border-box;
}

html, body {
    background-color: var(--bs-gray);
    min-width: 460px;
}

.anton-font {
    font-family: 'Anton', sans-serif;
}

h1 {
    font-size: xxx-large;
}

h2 {
    font-size: xx-large;
}

.abel-font {
    font-family: 'Abel', sans-serif;
}

#logo-wh {
    width: 30px;
    height: 30px;
}

.bordered-pill-badge {
    min-width: var(--bs-badge-medium);
    max-width: var(--bs-badge-medium);
    height: var(--bs-badge-medium);
    border-radius: 50%;
    border: white 10px solid;
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-weight: bold;
}

.badge-fill:nth-of-type(1) {
    background-color: var(--bs-red);
}

.badge-fill:nth-of-type(2) {
    background-color: var(--bs-orange);
}

.badge-fill:nth-of-type(3) {
    background-color: var(--bs-green);
}

.badge-fill:nth-of-type(4) {
    background-color: var(--bs-aqua);
}

.gray-border {
    border-color: lightgray !important;
}

.card-img-wh {
    width: var(--bs-card-width-sm);
    height: var(--bs-card-height-sm);
}

.mw-695 {
    max-width: 695px;
}

.card-body-mw {
    width: var(--bs-card-width-sm);
    padding: 0;
    margin: .5rem;
}

#main-aside {
    width: 40%;
}

.thumbnail-wh {
    width: 55px;
    height: 55px;
    display: inline-block;
}

.font-small {
    font-size: small;
}

@media screen and (max-width: 768px) {
    .mw-695 {
        max-width: 275px;
    }

    .bordered-pill-badge {
        min-width: var(--bs-badge-small);
        max-width: var(--bs-badge-small);
        height: var(--bs-badge-small);
        border-width: 7px;
        font-size: small;
        font-weight: normal;
    }
}

@media screen and (min-width: 768px) {
    .card-body-mw {
        width: 45%;
    }

    .card-img-wh {
        width: 100%;
        height: auto;
    }

    #main-content {
        max-width: 935px;
    }
}

